[Unit]
Description=Pcraft cluster
Requires=docker.service
After=docker.service

[Service]
Restart=no
ExecStartPre=/opt/pcraft/aws/ec2/restore.sh
ExecStartPre=/usr/local/bin/docker-compose -f /opt/pcraft/mc_init/docker-compose.yml up
ExecStartPre=/opt/pcraft/aws/ec2/pre-start.sh
ExecStart=/usr/local/bin/docker-compose -f /opt/pcraft/mc/docker-compose.yml --env-file /opt/pcraft/.env up
ExecStop=/usr/local/bin/docker-compose -f /opt/pcraft/mc/docker-compose.yml --env-file /opt/pcraft/.env down
ExecStop=/opt/pcraft/aws/ec2/backup.sh
ExecReload=/usr/local/bin/docker-compose -f /opt/pcraft/mc/docker-compose.yml --env-file /opt/pcraft/.env down
ExecReload=/usr/local/bin/docker-compose -f /opt/pcraft/mc_init/docker-compose.yml up
ExecReload=/opt/pcraft/aws/ec2/pre-start.sh
ExecReload=/usr/local/bin/docker-compose -f /opt/pcraft/mc/docker-compose.yml --env-file /opt/pcraft/.env up
TimeoutStartSec=900
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
