[Unit]
Description=Percycraft status
After=percycraft.service
Requires=percycraft.service

[Service]
ExecStart=/opt/percycraft/aws/ec2/status.sh
Restart=no

[Install]
WantedBy=multi-user.target
