[Unit]
Description=Percycraft cluster
After=docker.service
Requires=docker.service
After=vector.service
Requires=vector.service

[Service]
Restart=no
ExecStart=/opt/percycraft/server/percycraft-start.sh
ExecStop=/opt/percycraft/server/percycraft-stop.sh
TimeoutStartSec=900
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
