[Unit]
Description=Percycraft lobby
After=vector.service
Requires=vector.service

[Service]
Restart=no
ExecStart=/opt/lazymc/lazymc -c /opt/lazymc/lazymc.toml

[Install]
WantedBy=multi-user.target
